# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Node (por si más adelante añades dependencias)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Env
.env
.env.local
.env.*.local

# Logs
*.log
